
:root {
  --LinkColor: #F79707;
}



html, head, body
{
  margin: 0px;
  margin-top: 35px;
  margin-bottom: 35px;
  padding: 0px;
  text-align: left;
  background-color: #E2E2E2;
  font-family: Arial, Helvetica, Arial, sans-serif;
}



body
{
  width: 720px;
  margin: auto;
  padding: 10px;
  padding-top: 35px;
  background-color: #F0F0F0;
  border-radius: 20px;
}



h1
{
  display: block;
  width: 100%;
  font-size: 54pt;
  text-align: center;
  margin: 0px;
  margin-bottom: 35px;
  text-decoration: underline overline;
  text-decoration-style: dotted;
}



h2
{
  margin-top: 10px;
  margin-bottom: 10px;
}



p
{
  margin-top: 10px;
  margin-bottom: 42px;
}



a {
  background: linear-gradient(to right, var(--LinkColor) 0%, var(--LinkColor) 3px, transparent 3px);
  background-repeat: repeat-x;
  background-size: 100%;
  color: #0094FF;
  padding-left: 6px;
  text-decoration: none;
  font-weight: bold;
}



a:hover
{
  background: linear-gradient(to right, var(--LinkColor) 0%, var(--LinkColor) 3px, transparent);
  
  color: #000000;
}



.formula
{
  font-family: Verdana, "Lucida Sans Unicode", sans-serif;
  font-weight: bold;
  line-height: 1.6;
}



input
{
  width: 100px;
}



input
{
  border-width: 1px;
  border-radius: 3px;
  
  border-color: #919191;
  background-color: #FFFFFF;
}



input:read-only
{
  border-color: #919191;
  background-color: #B7B7B7;
}



div
{
  display: block;
  width: 680px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  
  font-size: 11pt;
  text-align: left;
  
  border-width: 3px;
  border-style: solid;
  background-color: #E0E0E0;
  border-color: #282828;
  border-radius: 7px;
}



form
{
  display: block;
  margin: 20px;
  padding: 30px;
  
  border-width: 3px;
  border-style: solid;
  border-color: #707070;
  border-radius: 5px;
  
  background-color: #CECECE;
  border-color: #CE8518;
  
  font-size: 11pt;
  text-align: right;
}



form p
{
  text-align: left;
}



label
{
  display: block;
  float: left;
  text-align: left;
}
